header{
    background: url("../../assets/bg-home.png") center no-repeat;
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
}
header .header-overlay{
    background-color: rgb(110, 58, 152, .85);
    width: 100%;
    max-width: 100%;
    height: auto;
    text-align: center;
    padding: 100px 0px;
}
header.header-overlay .row{
    margin: 60px 0;
}

header h2{
    color: white;
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
    margin: 35px 0px;
    letter-spacing: 1px;
}
header p{
    color: white;
    font-size: 16px;
    line-height: 30px;
    margin: 35px 0px;
}
header form{
    margin: 25px auto;
    background-color: white;
    width: 48.5%;
    max-width: 100%;
    padding: 2px;
    border-radius: 30px;
}
header form input{
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #fff;
    outline: none !important;
    width: 450px;
    height: 40px;
    color: #1f1f1f;
    text-align: left;
    font-size: 16px;
    padding: 6px;
}
header form button{
    background-color: #fb3e3e;
    border-radius: 30px;
    font-weight: bold;
    border: 1px solid #fb3e3e;
    width: 140px;
    height: 40px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
}